@model AllLibraryModels;
@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <title>Cotalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <style>
        .custom-table {
            display: flex;
            flex-direction: column;
        }

    </style>

    <div class="table-responsive custom-table-responsive">
        <form method="post" action="/Home/CreatePageBibliographicmaterialAdmin" enctype="multipart/form-data">
            @if (Model.AllBibliographicmaterial.Any())
            {
                <tr scope="row">
                    <td>
                        <div class="d-flex align-items-start">
                            <div>
                                <div style="margin:40px;">
                                    <span>Название: </span>
                                    <input type="text" class="form-control" name="Name">
                                </div>
                                <div style="margin:40px;">
                                    <span>Автор:</span>
                                    <p>
                                        <select name="AuthorId">
                                            <option value="">Выберите автора</option>
                                            @foreach (var author in Model.AllAuthors)
                                            {
                                                <option value="@author.Id">@author.FullName</option>
                                            }
                                        </select>
                                    </p>

                                </div>

                                <div style="margin:40px;">
                                    <span>Издательство: </span>
                                    <p>
                                        <select name="PublisherId">
                                            <option value="">Выберите издательство</option>
                                            @foreach (var publisher in Model.AllPublishers)
                                            {
                                                <option value="@publisher.Id">@publisher.Name</option>
                                            }
                                        </select>
                                    </p>
                                </div>
                                <div style="margin:40px;">
                                    <span>Год издания:</span>
                                    <input type="text" class="form-control" name="Date">
                                </div>
                            </div>
                            <div class="ml-auto">
                                <img src="~/img/pict1.jpg" alt="Изображение" style="width: 400px; height: auto;" />
                                <p>
                                    <input type="file" name="Img" value="pict1" >

                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            <input type="submit" value=" Отправить">
        </form>
        <form method="get" action="/Home/InsertPublisher">
            <input type="submit" value="Добавить Издательство" />
        </form>
        <form method="get" action="/Home/InsertAuthor">
            <input type="submit" value="Добавить Автора" />
        </form>
    </div>

    <form method="post" action="/Home/CatalogAdmin">
        <input type="submit" value="return" />
    </form>
</body>
</html>

