@model AllLibraryModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Cotalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <style>


        .table-header {
            position: sticky;
            top: 0;
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="container">
            <h2 class="mb-5">Каталог</h2>
            <form method="post" action="/Home/InsertPublisher">
                <div class="table-responsive custom-table-responsive">
                    <table class="table custom-table">

                        <thead>
                            <tr class="table-header">
                              
                                <th scope="col">Название <input type="text" class="form-control" name="name"></th>
                                <th scope="col">Контакты<input type="text" class="form-control" name="contacts"></th>
                                <th scope="col">Адрес<input type="text" class="form-control" name="address"></th>


                            </tr>
                        </thead>





                    </table>
                </div>
                <input type="submit" value="add" />
            </form>
        </div>
        <form id="myForm" method="post" action="/Home/PageBibliographicmaterialAdmin">
            <input type="hidden" id="materialId" name="materialId" value="" />
        </form>
        </form>

        <form method="post" action="/Home/CatalogAdmin">
            <input type="submit" value="return" />
        </form>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        function submitForm(materialId) {
            document.getElementById('materialId').value = materialId;
            document.getElementById('myForm').submit();
        }
    </script>
</body>
</html>