@model AllLibraryModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Catalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <style>
        .table-header {
            position: sticky;
            top: 0;
            background-color: white;
        }

        .inputtype {
            border-radius: 10px; /* Закругление углов */
            background: linear-gradient(180deg, rgba(104, 63, 97, 0.9) 0%, rgba(55, 41, 82, 0.8) 100%);
            color: white; /* Белый текст */
            border: 1px solid white; /* Граница - темный фиолетовый */
            padding: 10px 20px; /* Отступы внутри кнопки */
            font-size: 16px; /* Размер шрифта */
            cursor: pointer; /* Изменяем вид курсора */
        }

            .inputtype:hover {
                background-color: #483D8B; /* Изменяем цвет при наведении */
            }

        .inputtypeText {
            border-radius: 10px; /* Закругление углов */
            background: linear-gradient(180deg, rgba(104, 63, 97, 0.9) 0%, rgba(55, 41, 82, 0.8) 100%);
            color: white; /* Белый текст */

            padding: 20px 40px; /* Отступы внутри кнопки */
            font-size: 16px; /* Размер шрифта */
            cursor: pointer; /* Изменяем вид курсора */
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="container">
     
            <form method="post" action="/Home/InsertPublisher">
                <div class="table-responsive custom-table-responsive">
                    <table class="table custom-table inputtypeText">
                        <thead>
                            <tr class="table-header">
                                <th scope="col">
                                    Название
                                    <input type="text" class="form-control" name="name" placeholder="Введите название">
                                </th>
                                <th scope="col">
                                    Контакты
                                    <input type="text" class="form-control" name="contacts" placeholder="Введите контакты">
                                </th>
                                <th scope="col">
                                    Адрес
                                    <input type="text" class="form-control" name="address" placeholder="Введите адрес">
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <input class="inputtype" type="submit" value="Добавить" class="btn btn-primary mt-3" />
            </form>
        </div>
        <form id="myForm" method="post" action="/Home/PageBibliographicmaterialAdmin">
            <input type="hidden" id="materialId" name="materialId" value="" />
        </form>
        <form method="post" action="/Home/CatalogAdmin">
            <input class="inputtype" type="submit" value="Вернуться" class="btn btn-secondary mt-3" />
        </form>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        function submitForm(materialId) {
            document.getElementById('materialId').value = materialId;
            document.getElementById('myForm').submit();
        }
    </script>
</body>
</html>
