<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Новое</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  

    <style>

        .tresh {
            background-color: #CCC;
            color: #fff;
            padding: 30px; /* Пример значения отступа */
        }

        .hero-item p {
            color:white;
        }

        .hero-item  h2 {
            color: white;
        }

        .hero-item a {
            color: white;
        }

        .col-md-4 {
            background: linear-gradient(180deg, rgba(104, 63, 97, 0.9) 0%, rgba(55, 41, 82, 0.8) 100%);
        }

        .hero-item{
            margin: 50px;
            padding:20px;
        }
      
        .intro-section{
            padding-top:50px;
            padding-bottom:50px;
        }

        .footer-20192 {
            width: 100%;
            color: #fff;
            padding: 1rem 0;
            background: linear-gradient(180deg, rgba(104, 63, 97, 0.9) 0%, rgba(55, 41, 82, 0.8) 100%);
            height: 150px;
           

          
            position: relative; /* Добавляем относительное позиционирование для псевдоэлементов */
        }

            

        a{
            text-decoration:none;
            color:white;

        }

        .inputtype {
            border-radius: 10px; /* Закругление углов */
            background: linear-gradient(180deg, rgba(104, 63, 97, 0.9) 0%, rgba(55, 41, 82, 0.8) 100%);
            color: white; /* Белый текст */
            border: 1px solid white; /* Граница - темный фиолетовый */
            padding: 10px 20px; /* Отступы внутри кнопки */
            font-size: 16px; /* Размер шрифта */
            cursor: pointer; /* Изменяем вид курсора */
        }

            .inputtype:hover {
                background-color: #483D8B; /* Изменяем цвет при наведении */
            }

       
      

       
       
     

     


        .navbar-links {
            display: flex;
          
            align-items: center;
            flex-wrap: nowrap; /* предотвращаем перенос элементов на новую строку */
        }

        .navbar-brand {
            margin-right: 20px; /* добавляем отступ между ссылками */
        }

       

      /*   .container-fluid{
            background: linear-gradient(180deg, rgba(104, 63, 97, 0.9) 0%, rgba(55, 41, 82, 0.8) 100%);
        } */

        
    </style>
</head>
<body>
    <header class="tresh">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <div class="navbar-links inputtype">

                    <a class="navbar-brand inputtype" href="/Home/Catalog">Каталог</a>
                    <a class="navbar-brand inputtype" href="https://mail.ru/">Почта?</a>
                    <a class="navbar-brand inputtype" href="https://zdravstvuj-1-ja-dubrovskaja-ulitsa.clients.site/?utm_referer=geoadv_direct&utm_ya_campaign=1076049341&yabizcmpgn=8005286&utm_source=geoadv_direct&utm_candidate=32278814495&utm_content=15303393896&yclid=11720590946629844991">Проблемы?</a>
                    <a class="navbar-brand inputtype" href="https://hh.ru/">Как ваши дела?</a>
                    <form method="post" action="/Registration/Next">
                        <input   class="inputtype" type="submit" value="Войти" />
                    </form>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                 
                </div>
            </div>
        </nav>
    </header>
    <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="img/slider-bg-1.jpg" style="background-image: url(&quot;img/slider-bg-1.jpg&quot;);">
        <div class="container">
            <h2>Электронная Библиотека!</h2>
            <p>Библиотеки являются невероятными местами, где прошлое, настоящее и будущее сливаются воедино, создавая уникальное пространство для вдохновения, обучения и открытий</p>
           
        </div>
    </div>
    <section class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <div class="top-meta">08.02.33 </div>
                        <h3> Погружение в миры фантазий</h3>
                        <p>Художественная литература позволяет читателям путешествовать по удивительным мирам, проживать множество жизней и получать новые впечатления, не выходя из библиотеки....</p>
                      
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <div class="top-meta">13.01.21  </div>
                        <h3>Поддержка образования и карьеры</h3>
                        <p>В библиотеках проводятся образовательные программы, курсы повышения квалификации и консультации по вопросам карьеры. Это помогает людям развиваться и достигать новых высот в своей профессиональной жизни.....</p>
                     
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <div class="top-meta">21.11.18  </div>
                        <h3>Мейкерспейсы и инновационные лаборатории</h3>
                        <p>Некоторые библиотеки оборудованы мейкерспейсами, где посетители могут пользоваться 3D-принтерами, инструментами для работы с электроникой и другими современными технологиями, что способствует развитию креативности и инноваций. ....</p>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div>
        @RenderBody()
    </div>
 @*    <section class="newsletter-section">
        <div class="container">
            <h2>Subscribe to our newsletter</h2>
            <form class="newsletter-form">
                <input type="text" placeholder="ENTER YOUR E-MAIL">
                <button class="site-btn">subscribe  <img src="img/icons/double-arrow.png" alt="#"></button>
            </form>
        </div>
    </section> *@
   @*  <section class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <div class="top-meta"></a></div>
                        <h3> "Объятия истории: каждый раз новое прикосновение."</h3>
                        

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <div class="top-meta"></div>
                        <h3>"Откройте дверь в мир возможностей: читайте электронные книги."</h3>
                        

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <div class="top-meta"></div>
                        <h3>"Библиотека в вашем кармане: всегда под рукой, всегда вдохновляющая."</h3>
                        

                    </div>
                </div>
            </div>
        </div>
    </section> *@


    <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="img/slider-bg-1.jpg" style="background-image: url(&quot;img/slider-bg-1.jpg&quot;);">
        <div class="container">
            <h2>Место где тебе вегда рады!</h2>
            <p>Библиотеки предлагают доступ к обширным коллекциям книг, журналов, научных статей и цифровых ресурсов. Это бесценное хранилище знаний, которое может удовлетворить любое любопытство, будь то научное исследование или просто увлекательное чтение.</p>
            
            <p>Современные библиотеки идут в ногу с технологическим прогрессом, предоставляя доступ к электронным книгам, онлайн-базам данных и мультимедийным материалам. Многие библиотеки также предлагают бесплатный доступ к интернету и компьютерам, что особенно важно в современном мире.</p>
    
            <p>Библиотеки открыты для всех возрастов и социального статуса. Они предлагают бесплатный доступ к информации, что делает их незаменимым ресурсом для общественности, студентов и профессионалов.</p>
       
         
        </div>
       
    </div>

    <footer class="footer-20192">
        <div class="site-section">
            <div class="container">
                <div class="cta d-block d-md-flex align-items-center px-5">
                
                </div>
                <div class="row">
                    <div class="col-sm">
                        
                        <p class=" ">
                            <small>© 2019</small>
                        </p>
                        <a href="#" class="footer-logo">Copyright 2013-2024</a>
                    </div>
                    <div class="col-sm">
                        <h3>Адрес</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">Пушкинская д.21</a></li>
                           
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h3>Company</h3>
                        <ul class="list-unstyled links">
                         
                            <li><a href="#">Подписывайтесь на нас</a></li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h3>Следите за новостями</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">Команда разработчиков</a></li>
                            <li><a href="#">Политика сайта</a></li>
                        </ul>
                    </div>
                  
                </div>
            </div>
        </div>
    </footer>
 
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky-sidebar.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
*/
